@use '../../constants.scss';

.pic-paragraph {
  //   margin: 2rem;
  padding: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  //   border: 0.1rem constants.$black;
  //   border-top: solid;
  //   border-bottom: solid;

  &.trailing {
    flex-direction: row-reverse;
    background-color: constants.$primary-color;
    color: constants.$white;
  }
  .pic {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
  }
  .paragraph {
  }
}
