.pic-paragraph {
  margin: 2rem;
  padding: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  border: 0.2rem black;
  border-top: solid;
  border-bottom: solid;
  width: 100%;
  //   height: 15rem;
  .circle {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pic {
    // height: 12rem;
    // width: 15rem;
    // border-radius: 50%;
    // object-fit: cover;
    // object-position: center;
  }
  .paragraph {
  }
}
