@use '../../constants.scss';

nav {
  display: flex;
  justify-content: space-around;
  background-color: constants.$secondary-color;
  height: 4rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: solid constants.$primary-color 0.1rem;
  img {
    height: 7rem;
    border: solid constants.$secondary-color 0.2rem;
  }
  a {
    color: constants.$black;
    text-decoration: none;
    &.active,
    :hover {
      color: constants.$complimentary-color;
      text-decoration: underline;
    }
  }
}
